---
import WidgetLayout from './WidgetLayout.astro'

import { i18n } from '../../i18n/translation'
import I18nKey from '../../i18n/i18nKey'

const COLLAPSED_HEIGHT = '7.5rem'

interface Props {
  class?: string
  style?: string
}
const className = Astro.props.class
const style = Astro.props.style
---

<WidgetLayout name={i18n(I18nKey.certificates)} id="certificate"  collapsedHeight={COLLAPSED_HEIGHT}
                class={className} style={style}
>
  <div class="dark:text-white mx-2">
    <li class="flex gap-4">
      <dl class="mt-2 flex flex-auto flex-wrap gap-x-2">
        <dt class="sr-only">Certificate</dt>
        <dd class="text-md w-full flex-none font-medium text-zinc-900 dark:text-zinc-100">
          GENERAL 2024#2
        </dd>
        <dt class="sr-only">Role</dt>
        <dd class="mb-4 text-xs text-zinc-500 dark:text-zinc-400">
          JDLA Deep Learning
        </dd>
        <dt class="sr-only">Date</dt>
        <dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500">
          2024
        </dd>
      </dl>
    </li>
    <li class="flex gap-4">
      <dl class="mt-2 flex flex-auto flex-wrap gap-x-2">
        <dt class="sr-only">Certificate</dt>
        <dd class="text-md w-full flex-none font-medium text-zinc-900 dark:text-zinc-100">
          Cloud Essentials
        </dd>
        <dt class="sr-only">Role</dt>
        <dd class="mb-3 text-xs text-zinc-500 dark:text-zinc-400">
          CompTIA
        </dd>
        <dt class="sr-only">Date</dt>
        <dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500">
          2019
        </dd>
      </dl>
    </li>
  </div>
</WidgetLayout>